# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [1]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## Reading the Dataframe

In [8]:
#load as pandas dataframe
df = pd.read_json('data/world_bank_projects.json')
df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

# 1. Find the 10 countries with most projects

### Inspecting the column names
- The columns "countrycode," "countryshortname," "country_namecode," and "countryname" all seem like they will have information about countries.

In [9]:
#show all column names to see which indicate countries
df.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

### Calculating the top ten countries with the most projects based on the value counts of the 'countryname' column
- I chose to use the 'countryname' column from the set of column names above.

In [10]:
#use the value_counts() method to rank how frequently each name appears in the column
topten_countryname = df['countryname'].value_counts()
topten_countryname.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

### Africa is a continent, not a country, so I will check this further.
- It seems like projects with the country name "Africa" are regional rather than country-specific projects.

In [11]:
#checking where Africa appears as a country name by slicing
df.loc[df['countryname'] == 'Africa']

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
45,[{'Name': 'Health'}],N,OTHER,RE,[Human development],0,WAHO,West Africa Regional Disease Surveillance Cap...,"8,10",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",September,"[{'code': '67', 'name': 'Health system perform...",Africa,http://www.worldbank.org/projects/P125018/west...,IBRD,Active,0,"[{'code': 'JA', 'name': 'Health'}]",{'$oid': '52b213b38594d8a2be17c7ad'}
46,"[{'Name': 'Telecommunications'}, {'Name': 'Inf...",N,IDA,PE,"[Public sector governance, Rural development, ...",22000000,RELEVANT MINISTRIES IN CHARGE OF TELECOM/ICT P...,RCIP4 - Regional Communications Infrastructure...,"2,10,4,4",2018-06-30T00:00:00Z,...,"[{'Percent': 60, 'Name': 'Information and comm...",September,"[{'code': '25', 'name': 'Administrative and ci...",Africa,http://www.worldbank.org/projects/P118213/rcip...,IBRD,Active,0,"[{'code': 'CT', 'name': 'Telecommunications'},...",{'$oid': '52b213b38594d8a2be17c7ae'}
51,"[{'Name': 'General water, sanitation and flood...",N,OTHER,GE,"[Environment and natural resources management,...",0,"OSS, IUCN, CILSS/AGRYHMET","Building Resilience through Innovation, Commun...","11,11,11,11,11",NaN,...,"[{'Percent': 50, 'Name': 'Water, sanitation an...",September,"[{'code': '80', 'name': 'Biodiversity'}, {'cod...",Africa,http://www.worldbank.org/projects/P130888/buil...,IBRD,Active,0,"[{'code': 'WZ', 'name': 'General water, sanita...",{'$oid': '52b213b38594d8a2be17c7b3'}
58,"[{'Name': 'General agriculture, fishing and fo...",N,OTHER,GM,"[Environment and natural resources management,...",0,BANK EXECUTED,Fighting against wildlife poaching and illegal...,"11,11",NaN,...,"[{'Percent': 50, 'Name': 'Agriculture, fishing...",August,"[{'code': '80', 'name': 'Biodiversity'}, {'cod...",Africa,http://www.worldbank.org/projects/P144902?lang=en,IBRD,Active,0,"[{'code': 'AZ', 'name': 'General agriculture, ...",{'$oid': '52b213b38594d8a2be17c7ba'}
65,[{'Name': 'Hydropower'}],N,IDA,PE,"[Financial and private sector development, Soc...",339900000,NaN,Regional Rusumo Falls Hydroelectric Project,"4,7,10,5",2020-12-31T00:00:00Z,...,"[{'Percent': 100, 'Name': 'Energy and mining'}]",August,"[{'code': '39', 'name': 'Infrastructure servic...",Africa,http://www.worldbank.org/projects/P075941/nels...,IBRD,Active,0,"[{'code': 'LH', 'name': 'Hydropower'}]",{'$oid': '52b213b38594d8a2be17c7c1'}
99,[{'Name': 'Agricultural extension and research...,Y,IDA,PE,"[Trade and integration, Trade and integration,...",60000000,NaN,Additional Financing-West Africa Agricultural ...,"5,5,2,10",NaN,...,"[{'Percent': 78, 'Name': 'Agriculture, fishing...",June,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P145160/addi...,IBRD,Active,0,"[{'code': 'AB', 'name': 'Agricultural extensio...",{'$oid': '52b213b38594d8a2be17c7e3'}
167,"[{'Name': 'Telecommunications'}, {'Name': 'Gen...",N,IDA,PE,"[Trade and integration, Financial and private ...",60000000,NaN,West Africa Regional Communications Infrastruc...,"5,4,4,5",2018-11-30T00:00:00Z,...,"[{'Percent': 62, 'Name': 'Information and comm...",May,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P123093/west...,IBRD,Active,0,"[{'code': 'CT', 'name': 'Telecommunications'},...",{'$oid': '52b213b38594d8a2be17c827'}
184,[{'Name': 'Rural and Inter-Urban Roads and Hig...,N,IDA,PE,"[Trade and integration, Trade and integration,...",213000000,TANROADS,Southern Africa Trade and Transport Facilitati...,"5,5,9,8",2018-12-31T00:00:00Z,...,"[{'Percent': 84, 'Name': 'Transportation'}, {'...",May,"[{'code': '47', 'name': 'Regional integration'...",Africa,http://www.worldbank.org/projects/P120370/sout...,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c838'}
287,[{'Name': 'Agricultural extension and research...,N,IDA,PE,"[Rural development, Trade and integration, Tra...",90000000,CCARDESA AND NATIONAL GOVERNMENTS/AGENCIES,Agricultural Productivity Program for Southern...,"10,5,5",2020-01-31T00:00:00Z,...,"[{'Percent': 73, 'Name': 'Agriculture, fishing...",March,"[{'code': '78', 'name': 'Rural services and in...",Africa,http://www.worldbank.org/projects/P094183/agri...,IBRD,Active,0,"[{'code': 'AB', 'name': 'Agricultural extensio...",{'$oid': '52b213b38594d8a2be17c89f'}
353,"[{'Name': 'General water, sanitation and flood...",N,OTHER,RE,"[Environment and natural resources management,...",0,NILE BASIN INITIATIVE,Nile Cooperation for Results Project,"11,7,11",2015-12-31T00:00:00Z,...,"[{'Percent': 84, 'Name': 'Water, sanitation an...",January,"[{'code': '85', 'name': 'Water resource manage...",Africa,http://www.worldbank.org/projects/P130694/nile...,IBRD,Active,0,"[{'code': 'WZ', 'name': 'General water, sanita...",{'$oid': '52b213b38594d8a2be17c8e1'}
449,"[{'Name': 'Hydropower'}, {'Name': 'Irrigation ...",N,IDA,PE,"[Urban development, Environment and natural re...",203000000,NIGER BASIN AUTHORITY (NBA),First Part of the Second Phase of the Niger Ba...,"9,11,10,5",2020-04-01T00:00:00Z,...,"[{'Percent': 25, 'Name': 'Energy and mining'},...",October,"[{'code': '73', 'name': 'Municipal governance ...",Africa,http://www.worldbank.org/projects/P130174/firs...,IBRD,Active,0,"[{'code': 'LH', 'name': 'Hydropower'}, {'code'...",{'$oid': '52b213b38594d8a2be17c941'}

### Filtering the dataframe to only include projects conducted in a single nation
- Because the projects labeled as Africa are regional and may include countries that do not fall into the top ten, I will filter this out from the dataframe.

In [12]:
#filtering with Boolean selection
df1 = df.loc[df['countryname'] != 'Africa']
df1.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

### Recalculating the top ten countries with the most projects based on the 'countryname' column from the filtered dataframe

In [13]:
#ranking the top ten countries according to value counts in the 'countryname' column
topten = df1['countryname'].value_counts()
topten.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Republic of Mozambique             11
Burkina Faso                        9
Name: countryname, dtype: int64

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

### Inspecting the 'mjtheme_namecode' column

In [14]:
#viewing the column as a pandas series
themes = df1['mjtheme_namecode']
themes.head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

### Inspecting the value counts of the 'mjtheme_namecode' column
- We see more clearly that each value in the column has one or more key-value pairs in JSON format

In [15]:
#Using value counts on the 'mjtheme_namecode' column. Because of the format, this does not get us very far.
themes_counts = df1['mjtheme_namecode'].value_counts()
themes_counts.head(10)

[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': 'Environment and natural resources management'}]                                                                                11
[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]                                                                                                                                                        11
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]                                                                                                                                         8
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '4', 'name': 'Financial and private sector development'}]                                                                                           6
[{'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}]                                                                        6
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]     5
[{'code': '8', 'name': 'Human development'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]                                                                                                                               5
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '5', 'name': 'Trade and integration'}]                                                                                                              5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '4', 'name': ''}]                                                                                                                              5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': ''}]                                                                                                                             5
Name: mjtheme_namecode, dtype: int64

### Converting the 'mjtheme_namecode' column into a dataframe
- Since this column is in JSON format, I will convert it to its own dataframe using the keys 'code' and 'name' as column names.

In [16]:
#creating an empty dataframe with the columns named as 'code' and 'name'
theme_counts = pd.DataFrame(columns=['code', 'name'])

#appending the column contents to the emtpy dataframe with a for loop
for row in df1.mjtheme_namecode:
    theme_counts = theme_counts.append(json_normalize(row))
    
#resetting the row indices so they are continuous
theme_counts.reset_index(drop=True, inplace=True)

#show the beginning of the new dataframe
theme_counts.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [17]:
#inspecting how many unique codes there are
theme_counts.code.unique()

array(['8', '11', '1', '6', '5', '2', '7', '4', '10', '9', '3'],
      dtype=object)

### Calculating the top ten project themes based on the value counts of the 'code' column
- We can see the top ten project themes based on their theme codes in the new dataframe. However, it would be preferable to see the names of the themes.
- There is missing data in the 'name' column, so additional work needs to be done before we can use it to rank the top ten themes.

In [18]:
#top ten themes base on value counts of the 'code' column
topthemes = theme_counts['code'].value_counts()
topthemes.head(10)

11    240
10    210
8     208
2     197
6     168
4     141
7     128
5      67
9      48
1      38
Name: code, dtype: int64

# 3. Filling in the missing names in the theme_counts dataframe

### Replace blanks with NaN

In [19]:
#replace blanks with NaN
theme_counts = theme_counts.replace('', np.NaN)
theme_counts.head()

  code                                   name
0    8                      Human development
1   11                                    NaN
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

### Sorting the dataframe so the same themes are next to each other

In [22]:
#using sort values on the 'code' column
theme_sorted = theme_counts.sort_values(by=['code', 'name'], ascending=True)
theme_sorted.head()

    code                 name
2      1  Economic management
88     1  Economic management
162    1  Economic management
187    1  Economic management
188    1  Economic management

### Checking whether to use ffill or bfill to fill in NaNs
- The columns have sorted so that all the NaNs are at the bottom of each set for the codes, therefore it is better to use ffill.

In [23]:
#checking how the rows have been sorted for various themes, code=3 is used as an example
theme_sorted.loc[theme_sorted['code'] == '3']

     code         name
235     3  Rule of law
338     3  Rule of law
394     3  Rule of law
483     3  Rule of law
484     3  Rule of law
760     3  Rule of law
1174    3  Rule of law
1252    3  Rule of law
1267    3  Rule of law
1281    3  Rule of law
1372    3  Rule of law
1395    3  Rule of law
468     3          NaN
662     3          NaN
997     3          NaN

In [24]:
#applying ffill to fill in NaNs
themes_complete = theme_sorted.ffill()
themes_complete.head()

    code                 name
2      1  Economic management
88     1  Economic management
162    1  Economic management
187    1  Economic management
188    1  Economic management

### Checking that the NaNs have been filled:

In [25]:
#inspecting various codes to ensure that they have not been filled incorrectly
themes_complete.loc[themes_complete['code'] == '3']

     code         name
235     3  Rule of law
338     3  Rule of law
394     3  Rule of law
483     3  Rule of law
484     3  Rule of law
760     3  Rule of law
1174    3  Rule of law
1252    3  Rule of law
1267    3  Rule of law
1281    3  Rule of law
1372    3  Rule of law
1395    3  Rule of law
468     3  Rule of law
662     3  Rule of law
997     3  Rule of law

### Displaying top ten themes by name:

In [26]:
#using value counts to show the top ten themes by name
topthemes_names = themes_complete['name'].value_counts()
topthemes_names.head(10)

Environment and natural resources management    240
Rural development                               210
Human development                               208
Public sector governance                        197
Social protection and risk management           168
Financial and private sector development        141
Social dev/gender/inclusion                     128
Trade and integration                            67
Urban development                                48
Economic management                              38
Name: name, dtype: int64